/* CSS Document */
body{margin:0;padding:0;font-family:"微软雅黑","黑体";font-size:12px;}
*{margin:0;padding:0}
ol,ul,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.huabu{width:100%;height:2982px;color:#fefefe;}

.db-1{width:100%;height:35px;background-image:url(../images/pic-1.jpg);background-repeat:repeat-x;}
.db-2{width:1081px;height:34px;margin:0 auto;}
.db-3{width:90px;height:18px;float:left;margin-top:10px;}
.db-4{width:18px;height:18px;float:left;}
.db-4 a{width:18px;height:18px;display:block;background-image:url(../images/weixin-1.jpg);}
.db-4 a:hover{background-image:url(../images/weixin-2.jpg);}
.db-5{width:70px;height:18px;float:right;}
.db-5 a{color:#646464;}
.db-5 a:hover{color:#e41819;}
.db-6{width:18px;height:18px;float:left;}
.db-6 a{width:18px;height:18px;display:block;background-image:url(../images/xinlang-1.jpg);}
.db-6 a:hover{background-image:url(../images/xinlang-2.jpg);}
.db-7{width:320px;height:34px;line-height:34px;float:left;margin-left:335px;color:#646464;}
.db-7 a{color:#646464;}
.db-7 a:hover{color:#e41819;}
.db-8{width:240px;height:34px;line-height:34px;float:left;color:#646464;}
.db-8 a{color:#646464;}
.db-8 a:hover{color:#e41819;}
.b-1{color:#e41819;font-size:13px;}

.zt-1{width:1081px;height:66px;margin:0 auto 18px auto;}
.zt-2{width:232px;height:66px;float:left;}
.zt-3{width:80px;height:36px;float:left;padding-top:30px;line-height:18px;margin-left:10px;}
.p1 a{color:#646464;}
.p1 a:hover{color:#e41819;}
.p2 a{color:#e41819;}
.p2 a:hover{color:#646464;}
.zt-4{width:350px;height:39px;float:right;margin-right:295px;margin-top:26px;}
.zt-5{width:96px;height:39px;margin-right:20px;float:left;}

.dh-1{width:100%;height:39px;background-color:#e41819;}
.dh-2{width:1081px;height:39px;margin:0 auto;position:relative;}
.dh-3{width:550px;height:39px;float:left;}
.b-3 a{width:108px;height:39px;display:block;color:#FFF;float:left;font-size:14px;line-height:39px;font-weight:bold;text-align:center}
.b-3 a:hover{width:108px;height:39px;background-image:url(../images/dh-1.jpg);}
.b-3 a.now{width:108px;height:39px;background-image:url(../images/dh-1.jpg);}
.dh-4{width:200px;height:39px;float:right;font-size:14px;line-height:39px;font-weight:bold;text-align:center;}
.dh-5{
	width: 21px;
	height: 16px;
	position: absolute;
	left: 196px;
	top: -4px;
}
.dh-5 a{display:block;idth:21px;height:16px;background-image:url(../images/hot-1.png);}
.dh-5 a:hover{background-image:url(../images/hot-2.png);}

.bn-1{width:1081px;height:150px;margin:2px auto auto auto;}
.bn-1 a{display:block;width:1081px;height:150px;background-image:url(../images/banner-1.jpg);}
.bn-1 a:hover{width:1081px;height:150px;background-image:url(../images/banner-2.jpg);}














.lc-1{width:1081px;height:220px;background-image:url(../images/pic-2.jpg);margin:0 auto;}
.lc-2{width:133px;height:32px;margin:26px 0 0 474px;line-height:32px;text-align:center;color:#333;font-size:24px;float:left;}
.lc-3{width:1081px;height:58px;}
.lc-4{width:340px;height:151px;float:left;margin-top:10px;margin-right:31px;}
.lc-5{width:340px;height:71px;}
.lc-6{width:50px;height:71px;float:left;margin-left:67px;color:#e96a37;line-height:71px;text-align:center;font-size:50px;font-family:方正仿宋,}
.lc-7{width:190px;height:63px;float:left;color:#e96a37;line-height:71px;text-align:center;margin-left:10px;padding-top:8px;}
.p3{line-height:30px;font-size:24px;}
.p4{line-height:24px;font-size:14px;}
.lc-8{width:340px;height:70px;}
.lc-9{width:60px;height:67px;margin:2px 12px;float:left;}
.lc-10{width:46px;height:49px;margin:0 6px;}
.lc-11{width:60px;height:15px;line-height:15px;text-align:center;color:#666666;}
.lc-12{width:340px;height:151px;float:right;margin-top:10px;}
.lc-13{width:340px;height:151px;float:left;margin-top:10px;}
.lc-14{width:80px;height:67px;margin:2px 16px;float:left;}
.lc-15{width:46px;height:49px;margin:0 16px;}
.lc-16{width:80px;height:15px;line-height:15px;text-align:center;color:#666666;}
.lc-17{width:50px;height:71px;float:left;margin-left:67px;color:#7fb90f;line-height:71px;text-align:center;font-size:50px;font-family:方正仿宋,}
.lc-18{width:190px;height:63px;float:left;color:#7fb90f;line-height:71px;text-align:center;margin-left:10px;padding-top:8px;}
.lc-19{width:50px;height:71px;float:left;margin-left:67px;color:#5ac9d0;line-height:71px;text-align:center;font-size:50px;font-family:方正仿宋,}
.lc-20{width:190px;height:63px;float:left;color:#5ac9d0;line-height:71px;text-align:center;margin-left:10px;padding-top:8px;}

.zb-1{width:100%;height:81px;background-image:url(../images/bj-1.jpg);background-repeat:repeat-x;margin-top:40px;}
.zb-2{width:1081px;height:81px;margin:0 auto;}
.zb-3{width:150px;height:81px;margin-left:470px;float:left;color:#333;font-size:36px;line-height:81px;text-align:center;}
.zb-4{width:191px;height:54px;float:right;margin:10px 20px 0 0 ;}
.zb-4 a{width:191px;height:54px;display:block;background-image:url(../images/dj-1.jpg)}
.zb-4 a:hover{width:191px;height:54px;display:block;background-image:url(../images/dj-2.jpg)}
.zb-5{width:1081px;height:75px;margin:0 auto;color:#ee4e4e;line-height:75px;text-align:center;font-size:24px;}
.b-2{color:#e86934;font-weight:normal;font-size:26px;}
.zb-6{width:100%;height:345px;background-image:url(../images/bj-2.jpg);background-repeat:repeat-x;}
.zb-7{width:1079px;height:228px;border:1px solid #cccccc;margin:0 auto;background-color:#FFF;}
.zb-8{width:1079px;height:65px;}
.zb-9{width:1038px;height:145px;margin:0 auto;}
.zb-9 a{display:block;width:1038px;height:145px;background-image:url(../images/bn-1.jpg);}
.zb-9 a:hover{width:1038px;height:145px;background-image:url(../images/bn-2.jpg);}
.zb-10{width:148px;height:65px;float:left;color:#3c2a2a;line-height:65px;font-size:24px;padding-left:20px;}
.zb-11{width:35px;height:39px;float:left;padding-top:26px}
.zb-12{width:100%;height:423px;background-image:url(../images/bj-3.jpg);background-repeat:repeat-x;}
.zb-13{width:1079px;height:326px;border:1px solid #cccccc;margin:0 auto;background-color:#FFF;}
.zb-14{width:242px;height:65px;float:left;color:#3c2a2a;line-height:65px;font-size:24px;padding-left:20px;}
.zb-15{width:1055px;height:242px;margin:0 auto;}
.zb-16{width:253px;height:242px;float:left;margin:0 5px;}
.zb-16 a{width:253px;height:242px;display:block;background-image:url(../images/guihua-1.jpg);}
.zb-16 a:hover{width:253px;height:242px;display:block;background-image:url(../images/guihua-2.jpg);}
.zb-17{width:253px;height:242px;float:left;margin:0 5px;}
.zb-17 a{width:253px;height:242px;display:block;background-image:url(../images/zhixing-1.jpg);}
.zb-17 a:hover{width:253px;height:242px;display:block;background-image:url(../images/zhixing-2.jpg);}
.zb-18{width:253px;height:242px;float:left;margin:0 5px;}
.zb-18 a{width:253px;height:242px;display:block;background-image:url(../images/zhengti-1.jpg);}
.zb-18 a:hover{width:253px;height:242px;display:block;background-image:url(../images/zhengti-2.jpg);}
.zb-19{width:253px;height:242px;float:left;margin:0 5px;}
.zb-19 a{width:253px;height:242px;display:block;background-image:url(../images/yusuan-1.jpg);}
.zb-19 a:hover{width:253px;height:242px;display:block;background-image:url(../images/yusuan-2.jpg);}
.zb-20{width:1081px;height:63px;margin:30px auto auto auto;color:#ee4e4e;line-height:63px;text-align:center;font-size:24px;}
.zb-21{width:1081px;height:100px;margin:15px auto auto auto;}
.zb-22{width:150px;height:100px;margin-left:470px;float:left;color:#333;font-size:36px;line-height:100px;text-align:center;}
.zb-23{width:191px;height:54px;float:right;margin:22px 20px 0 0 ;}
.zb-23 a{width:191px;height:54px;display:block;background-image:url(../images/dj-1.jpg)}
.zb-23 a:hover{width:191px;height:54px;display:block;background-image:url(../images/dj-2.jpg)}

.ys-1{width:100%;height:1094px;background-image:url(../images/bj-4.jpg);background-repeat:repeat-x;}
.ys-2{width:1079px;height:333px;border:1px solid #cccccc;margin:0 auto;background-color:#FFF;}
.ys-3{width:340px;height:65px;float:left;color:#3c2a2a;line-height:65px;font-size:24px;padding-left:20px;}
.ys-4{width:1030px;height:256px;margin:0 auto;}
.ys-5{width:467px;height:256px;float:left;}
.ys-5 a{width:467px;height:256px;background-image:url(../images/ys-1.jpg);display:block;}
.ys-5 a:hover{width:467px;height:256px;background-image:url(../images/ys-2.jpg);}
.ys-6{width:535px;height:226px;float:left;margin-left:25px;color:#707070;padding-top:30px;line-height:24px;font-size:14px;}
.ys-6 a{color:#707070;}
.ys-6 a:hover{color:#ea3349;}
.ys-7{width:1079px;height:713px;border:1px solid #cccccc;margin:10px auto auto auto;background-color:#FFF;}
.ys-8{width:170px;height:65px;float:left;color:#3c2a2a;line-height:65px;font-size:24px;padding-left:20px;}
.ys-9{width:1079px;height:86px;}
.ys-10{width:467px;height:86px;float:left;margin-left:20px;}
.ys-11{width:545px;height:74px;float:left;padding:12px 0 0 27px;line-height:24px;font-size:14px;}
.ys-11 a{color:#707070;}
.ys-11 a:hover{color:#ea3349;}
.ys-12{width:1039px;height:545px;margin:15px auto auto auto;}
.ys-13{width:339px;height:533px;float:left;border:1px solid #cccccc;border-radius:10px;}
.ys-14{width:339px;height:48px;}
.ys-15{width:55px;height:48px;line-height:48px;text-align:center;float:left;font-size:20px;color:#3c2a2a;}
.ys-16{width:23px;height:17px;float:left;margin-top:16px;}
.ys-17{width:321px;height:242px;margin:0 auto;}
.ys-18{width:321px;height:242px;margin:0 auto;}
.p5{font-size:20px;color:#3c2a2a;text-align:center;line-height:40px;}
.b-4{color:#2d8cc4;font-weight:normal;}
.p6 a{color:#707070;}
.p6 a:hover{color:#ea3349;}
.p6{color:#707070;font-size:14px;line-height:24px;}
.ys-19{width:690px;height:536px;float:right;}
.ys-20{width:687px;height:262px;float:left;border:1px solid #cccccc;border-radius:10px;margin-bottom:8px;}
.ys-21{width:687px;height:48px;}
.ys-22{width:667px;height:200px;margin:0 auto;}
.ys-23{width:321px;height:200px;float:left;}
.ys-24{width:321px;height:200px;float:left;margin-left:20px;}
.ys-25{width:687px;height:262px;float:left;border:1px solid #cccccc;border-radius:10px;}
.ys-26{width:321px;height:76px;float:left;margin-left:20px;margin-top:50px;}












.dibuheng{width:100%;height:390px;border-top:2px solid #cccccc;}
.dibu{width:1081px;height:170px;margin:0 auto;border-left:1px solid #dddddd;border-right:1px solid #dddddd;}
.dibuzuo{width:279px;height:170px;float:left;border-right:1px solid #dddddd;}
.hongqu11{width:110px;height:44px;margin-top:21px;float:left;margin-left:20px;line-height:44px;background-image:url(../images/hongchajia.jpg);background-repeat:no-repeat;background-position:left}
.hongqu11 a{color:#707070}
.hongqu11 a:hover{color:#ea3349;}
.hongqu111{width:110px;height:44px;margin-top:21px;float:left;margin-left:10px;line-height:44px;background-image:url(../images/hongche.jpg);background-repeat:no-repeat;background-position:left}
.hongqu111 a{color:#707070}
.hongqu111 a:hover{color:#ea3349;}
.hongqu211{width:110px;height:44px;margin-top:21px;float:left;margin-left:20px;line-height:44px;background-image:url(../images/hongzheng.jpg);background-repeat:no-repeat;background-position:left}
.hongqu211 a{color:#707070}
.hongqu211 a:hover{color:#ea3349;}
.dibuzhong{width:447px;height:170px;float:left;border-right:1px solid #dddddd;}
.zhongbt{width:447px;height:50px;}
.zhongbt1{width:120px;height:50px;float:left;background-image:url(../images/huiwenhao.jpg);background-repeat:no-repeat;background-position:35px 15px;font-size:14px;text-align:right;line-height:50px;}
.zhongbt1 a{color:#707070}
.zhongbt1 a:hover{color:#ea3349;}
.zhongbt2{width:120px;height:50px;float:left;background-image:url(../images/huishuqian.jpg);background-repeat:no-repeat;background-position:35px 15px;font-size:14px;text-align:right;line-height:50px;margin-left:20px;}
.zhongbt2 a{color:#707070}
.zhongbt2 a:hover{color:#ea3349;}
.zhongbt3{width:120px;height:50px;float:left;background-image:url(../images/huishouhou.jpg);background-repeat:no-repeat;background-position:35px 15px;font-size:14px;text-align:right;line-height:50px;margin-left:20px;}
.zhongbt3 a{color:#707070;}
.zhongbt3 a:hover{color:#ea3349}
.dibuzhongzt{width:447px;height:100px;}
.zhongzt1{width:120px;height:100px;float:left;}
.zhongzt1 li{font-size:13px;text-align:right;line-height:22px;}
.zhongzt1 li a{color:#707070}
.zhongzt1 li a:hover{color:#ea3349;}
.zhongzt2{width:120px;height:100px;float:left;margin-left:20px;}
.zhongzt2 li{font-size:13px;text-align:right;line-height:22px;}
.zhongzt2 li a{color:#707070}
.zhongzt2 li a:hover{color:#ea3349;}
.dibuyou{width:340px;height:170px;float:right;}
.dibuyout{width:340px;height:36px;background-image:url(../images/hongjiabo.jpg);background-repeat:no-repeat;background-position:center;margin-top:25px;}
.dibuyouz1{width:340px;height:25px;margin-top:12px;color:#7a7c77;}
.cu{width:66px;height:25px;float:left;line-height:25px;}
.qq{width:111px;height:25px;background-image:url(../images/zaixian.jpg);float:left}
.nz{width:16px;height:25px;background-image:url(../images/naozhong.jpg);float:left;background-repeat:no-repeat;background-position:center;margin-left:8px;margin-right:8px;}
.cu1{width:120px;height:25px;float:right;line-height:25px;}
.cu3{width:177px;height:25px;float:left;line-height:25px;color:#7a7c77;}

.dizi{width:1000px;height:30px;line-height:30px;text-align:center;margin:0 auto}
.dizi a{color:#656162}
.dizi a:hover{color:#ea3349;}
.dizi2{width:1000px;height:30px;line-height:30px;font-size:12px;text-align:center;margin:0 auto;color:#656162;}
